flows5.1.json
[
    {
        "id": "5018de33a390589e",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "326aba2f558ae2fa",
        "type": "http request",
        "z": "5018de33a390589e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.323203&lon=-99.055246&exclude=hourly,daily&appid=22a5bbf418c85ec7ef84d6b565878a34&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "a0e7b9b22794cb4e"
            ]
        ]
    },
    {
        "id": "a0e7b9b22794cb4e",
        "type": "json",
        "z": "5018de33a390589e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "c9b261c113fa7144",
                "1ae167aac0e0526d",
                "55293152e1191833"
            ]
        ]
    },
    {
        "id": "e98d4b59c5c2cbc1",
        "type": "inject",
        "z": "5018de33a390589e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "326aba2f558ae2fa",
                "ad828b1946b7ec11"
            ]
        ]
    },
    {
        "id": "15e6fc506354cbf6",
        "type": "ui_gauge",
        "z": "5018de33a390589e",
        "name": "",
        "group": "523aeab8c96b0380",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "1a366b410832acb5",
        "type": "ui_gauge",
        "z": "5018de33a390589e",
        "name": "",
        "group": "523aeab8c96b0380",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "c9b261c113fa7144",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 60,
        "wires": [
            [
                "15e6fc506354cbf6"
            ]
        ]
    },
    {
        "id": "1ae167aac0e0526d",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 100,
        "wires": [
            [
                "1a366b410832acb5"
            ]
        ]
    },
    {
        "id": "5aa2a55bfcc3c956",
        "type": "comment",
        "z": "5018de33a390589e",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 20,
        "wires": []
    },
    {
        "id": "c0e3364b7bc50b25",
        "type": "inject",
        "z": "5018de33a390589e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "323614a976874493"
            ]
        ]
    },
    {
        "id": "323614a976874493",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Hector CDMX_IZT\",\"temp\":'+ global.get (\"tempFlow5\")+',\"hum\":'+ global.get (\"humFlow5\")+',\"uv\":'+ global.get (\"uvFlow5\")+',\"aqi\":'+ global.get (\"aqiFlow5\")+'}';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 580,
        "wires": [
            [
                "13683759de455607",
                "8ac6ff7ab70ac43a"
            ]
        ]
    },
    {
        "id": "13683759de455607",
        "type": "debug",
        "z": "5018de33a390589e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "8ac6ff7ab70ac43a",
        "type": "mqtt out",
        "z": "5018de33a390589e",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7a9200571c85424",
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "9549765a150308e4",
        "type": "comment",
        "z": "5018de33a390589e",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "5db1725ff831b3a3",
        "type": "mqtt in",
        "z": "5018de33a390589e",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "c7a9200571c85424",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "84a390f99e74f5e8"
            ]
        ]
    },
    {
        "id": "84a390f99e74f5e8",
        "type": "json",
        "z": "5018de33a390589e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "b01e909bf3845d3f",
                "c1fad6c6a8ffdf5e",
                "2783dc86125ecab5",
                "8389dd71fe90b9a8"
            ]
        ]
    },
    {
        "id": "b01e909bf3845d3f",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "7a74f8b155a0dba6"
            ]
        ]
    },
    {
        "id": "7a74f8b155a0dba6",
        "type": "ui_chart",
        "z": "5018de33a390589e",
        "name": "",
        "group": "9e667b55ee19c303",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c1fad6c6a8ffdf5e",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 360,
        "wires": [
            [
                "18a27d0a70941ff8"
            ]
        ]
    },
    {
        "id": "18a27d0a70941ff8",
        "type": "ui_chart",
        "z": "5018de33a390589e",
        "name": "",
        "group": "9e667b55ee19c303",
        "order": 2,
        "width": 10,
        "height": 6,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4748835ffc52c6b7",
        "type": "comment",
        "z": "5018de33a390589e",
        "name": "Informacion General",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "55293152e1191833",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            [
                "90c8446753a8b807"
            ]
        ]
    },
    {
        "id": "90c8446753a8b807",
        "type": "ui_gauge",
        "z": "5018de33a390589e",
        "name": "",
        "group": "523aeab8c96b0380",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "L_ultravioleta",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "2783dc86125ecab5",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 420,
        "wires": [
            [
                "0f1238871a6337ab"
            ]
        ]
    },
    {
        "id": "0f1238871a6337ab",
        "type": "ui_chart",
        "z": "5018de33a390589e",
        "name": "",
        "group": "9e667b55ee19c303",
        "order": 3,
        "width": 10,
        "height": 6,
        "label": "L_ultravioleta",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ad828b1946b7ec11",
        "type": "http request",
        "z": "5018de33a390589e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.323203&lon=-99.055246&appid=22a5bbf418c85ec7ef84d6b565878a34",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "e40b13fca9bc4b0b"
            ]
        ]
    },
    {
        "id": "e40b13fca9bc4b0b",
        "type": "json",
        "z": "5018de33a390589e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "d9f5a8d7e4bc4290"
            ]
        ]
    },
    {
        "id": "d9f5a8d7e4bc4290",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "Aqi",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqiFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "61774c3176e20e2c"
            ]
        ]
    },
    {
        "id": "61774c3176e20e2c",
        "type": "ui_gauge",
        "z": "5018de33a390589e",
        "name": "",
        "group": "523aeab8c96b0380",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "4",
        "className": "",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "8389dd71fe90b9a8",
        "type": "function",
        "z": "5018de33a390589e",
        "name": "Calidad del aire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "e469ea0e1de59a8b"
            ]
        ]
    },
    {
        "id": "e469ea0e1de59a8b",
        "type": "ui_chart",
        "z": "5018de33a390589e",
        "name": "",
        "group": "9e667b55ee19c303",
        "order": 4,
        "width": 10,
        "height": 6,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "523aeab8c96b0380",
        "type": "ui_group",
        "name": "Personal",
        "tab": "541534941f7d5c10",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7a9200571c85424",
        "type": "mqtt-broker",
        "name": "Broker G8",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9e667b55ee19c303",
        "type": "ui_group",
        "name": "General",
        "tab": "541534941f7d5c10",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "541534941f7d5c10",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]